@import 'tailwindcss';

/* -=-=-=-=-=-=- Fonts -=-=-=-=-=-=- */
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/Lato.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/DM Mono.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/ubuntu/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

/* -=-=-=-=-=-=- Theme -=-=-=-=-=-=- */
@theme {

	/* App Fonts, Ubuntu & Lato */
	--font-lato: Lato, Tahoma, sans-serif;
	--font-ubuntu: Ubuntu, sans-serif;

	/* App Colors, Base and Generic */ 
	--color-primary: #ffdb5b;

	/* Component Specific Colors */	
	--color-component-backdrop: #353431;
	--color-component-sidebar: #ffffff14;
	
	/* Color Depths */
	--color-depth-025: rgba(255,255,255, 0.025);
	--color-depth-05: rgba(255,255,255, 0.05);
	--color-depth-1: rgba(255,255,255, 0.1);
	--color-depth-2: rgba(255,255,255, 0.2);
	--color-depth-3: rgba(255,255,255, 0.3);	
}

/* -=-=-=-=-=-=- Base -=-=-=-=-=-=- */
@layer base {
	html {
		font-family: var(--font-ubuntu);
	}

	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	div,
	span,
	input,
	button,
	option,
	textarea {
		@apply text-gray-900 dark:text-white;
		font-family: var(--font-ubuntu);
	}

	html, body {
		width: 100%;
		height: 100%;
	}
}



/* -=-=-=-=-=-=- Components -=-=-=-=-=-=- */
@layer components {
}

/* -=-=-=-=-=-=- Utilities -=-=-=-=-=-=- */
@layer utilities {
}
